[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.1"
django-environ = "0.10.0"
django-filter = "23.2"
djangorestframework = "3.14.0"
djangorestframework-simplejwt = "5.2.2"
django-rest-registration = "0.8.2"
drf-spectacular = "0.26.2"
markdown = "3.4.3"
psycopg2-binary = "2.9.6"
uwsgi = "2.0.21"

[dev-packages]
pre-commit = "3.3.2"
pytest = "7.3.1"
pytest-django = "4.5.2"
pytest-cov = "4.1.0"
pytest-xdist = "3.3.1"
faker = "18.9.0"

[requires]
python_version = "3.8"